<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Si no es un archivo ni directorio real, enviar a index.html (Angular SPA)
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
